.c-landing-page {
  background-image: url("/images/landing.jpg");
  background-size: cover;
  height: 100vh;
}

.c-landing-page--logo-section {
  position: absolute;
  right: 10px;
  top: 30px;
  color: #fff;
}

.c-landing-page--logo-section h2 {
  font-size: 2.2rem;
  letter-spacing: 8px;
}

.c-landing-page--logo-section h2:nth-child(2) {
  margin: 8px 20px;
}

.c-landing-page--logo-section h2 span {
  background-color: #000;
  padding: 0 5px 0 12px;
}

/* medium and large devices */
@media (min-width: 1024px) {
  .c-landing-page--logo-section h2 {
    font-size: 2rem;
  }
}
